body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto */
    color: #ccc; /* Cor do texto em cinza claro */
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}
.episodes {
    background-color: #111; /* Fundo quase preto */
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.episode {
    background-color: #222; /* Fundo cinza escuro */
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 200px;
    display: inline-block;
}
.episode img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.episode-title {
    padding: 10px;
    font-size: 18px;
    color: #fff; /* Cor do título em branco */
}
.episode a {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #2c2c2c;
    border-radius: 10px;
    text-align: center;
    color: #ccc;
}

.footer .watermark {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffcc00;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer .social-icons a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: #e6b800;
}